name: shared
description: A sample command-line application.
publish_to: none
version: 1.0.0

environment:
  sdk: ^3.9.2

dependencies:
  logger: ^2.6.2

dev_dependencies:
  lints: ^6.0.0
  test: ^1.25.6